@{
    ViewBag.Title = "Contact";
    string donutchartData = ViewBag.CapTipData;
    string donutchartCate = ViewBag.CapTipCate;
    string piechartData = ViewBag.ListaCripData;
    string piechartCate = ViewBag.ListaCripCate;

}
<div class="container">
    <div class=" row">
        <div class="col-md-4">
            <h3>Capital segun el tipo</h3>
            <div id="donutchart" style="width: 100%; height: auto;"></div>
        </div>
        <div class="col-md-4">
            <h3>Capital por criptomoneda</h3>
            @*<div id="piechart" style="width: 100%; height: auto;"></div>*@
            <div id="columnchart" style="width: 100%; height: auto;"></div>
            <br />
        </div>
    </div>
</div>


<input type="hidden" id="donutchartData" value="@donutchartData" />
<input type="hidden" id="donutchartCate" value="@donutchartCate" />
<input type="hidden" id="piechartData" value="@piechartData" />
<input type="hidden" id="piechartCate" value="@piechartCate" />

<input type="text" id="CriptoW" value="" />
<input type="text" id="CategoriaW" value="" />
<input type="text" id="CapitalW" value="" />
<button type="button" onclick="RefrescarGraficos()">actualizar</button>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="~/Scripts/Graficos/donutchartWI.js"></script>
<script type="text/javascript" src="~/Scripts/Graficos/columnchartWI.js"></script>
<script>
    function RefrescarGraficos() {
        drawChart();
        drawBasic();
    }
</script>